body {
	background-image: url("othersky.jpg");
}
#second {
	background-image: url("seigaiha.png");
}
#heading {
	font-family: "Brush Script MT", cursive;
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: white;
}
#question {
	font-family: "Brush Script MT", cursive;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: white;
}
#search {
	font-family: "Palatino Linotype";
}
.jumbotron {
	color: white;
}
#foot {
	font-family: "Palatino Linotype";
}
#heading2 {
	font-family: "Brush Script MT", cursive;
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#submit {
	font-family: "Palatino Linotype";
}
#questions {
	font-family: "Palatino Linotype";
}